<div class="userAccountContainer">
  {{#if user}}
    <div class="userInfo">
      <div class="displayName">
        {{ displayname }}
      </div>
      <div class="name">
        {{ firstName }}{{#if nickName}}{{nickName}}{{/if}}{{ lastName }}
      </div>
    </div>
    <div class="userActions">
    </div>
  {{else}}
    <a class="signinLink" href="/auth/google" data-pushstate=true data-bypass=true>Sign In With Google</a>
    <div>test</div>
  {{/if}}
</div>